/* Css reset */
* {
  margin: 0;
  padding: 0;
}
/* Nav style starts */

.parent-nav {
  background-color: #414141;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-logo {
  width: 130px;
}
.nav-items {
  list-style-type: none;
  display: flex;
}
.nav-items > a {
  text-decoration: none;
}
.single-item {
  margin-right: 30px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
}
.single-item:hover {
  background-color: white;
  color: #414141;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
/* nav style ends */

/* Hero section style starts here */
.hero-container {
  background-image: url(images/background.png),
    linear-gradient(
      45deg,
      rgb(236, 53, 53),
      rgb(16, 126, 16),
      rgb(238, 238, 130)
    );
  display: flex;
  color: rgb(255, 255, 255);
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.hero-img {
  width: 400px;
}
.hero-text-container {
  font-size: larger;
  font-weight: 700;
}
h1 {
  margin-bottom: 10px;
}
.hero-button {
  margin-top: 15px;
  padding: 10px;
  background-color: #644d00;
  color: white;
  box-shadow: 5px 5px 10px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.hero-button:hover {
  background-color: white;
  color: #414141;
  transition: 0.4s;
}
/* Hero section style ends here */

/* About section starts here  */
.about-img {
  width: 250px;
}
.about-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.about-heading {
  margin-top: 30px;
  font-size: 30px;
  justify-content: center;
  display: flex;
}
.about-h2 {
  border-bottom: 2px solid;
}
.content-about-h3 {
  font-size: 25px;
}
.content-about {
  font-size: 20px;
}
.about-bitton {
  margin-top: 15px;
  padding: 10px;
  background-color: #f52929;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px;
  font-size: medium;
  font-weight: 600;
}
.about-bitton:hover {
  background-color: #3a9326;
  color: #000000;
  transition: 0.4s;
  cursor: pointer;
}
/* About section ends here */

/* Service section starts here */

.services-main-container {
  background-image: url(images/background.png),
    linear-gradient(45deg, rgb(24, 21, 21), rgb(31, 36, 31), rgb(66, 66, 54));
  height: 450px;
  color: white;
}
.services-heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
}
.service-card-container {
  display: flex;
  justify-content: space-around;
}
.service-icon {
  width: 110px;
}
.card {
  width: 200px;
  height: 280px;
  text-align: center;
  box-shadow: 5px 5px 100px gray;
  border-radius: 20px;
  padding: 30px;
}
.services-heading > h3 {
  border-bottom: 3px solid white;
}
/* Service section Ends here */
